# הפניות בסיסיות ושיפור אבטחה עבור הקבצים
# שימושי אם תרצו לאפשר כתובות יפות בהמשך
<IfModule mod_rewrite.c>
  Options -Indexes
  RewriteEngine On
  # דוגמה להשארת index.php כברירת מחדל לשורש
  DirectoryIndex index.php
</IfModule>

# מניעת הצגת תוכן תיקיות
Options -Indexes
